<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" th:inline="javascript">

        //<![CDATA[
        import {h, text, app} from "https://cdn.skypack.dev/hyperapp"

        const colorNames = ['yellow', 'green'];
        const levels = [100, 200, 300, 400, 500];
        const colors = ['gray', ...colorNames.flatMap(color => levels.map(l => `${color}-${l}`))];

        const data = JSON.parse(/*[[${events}]]*/ "");

        const fetchJson = (dispatch, options) => {
            fetch(options.url)
                .then(response => response.json())
                .then(data => dispatch(options.action, data))
        }

        const SetEvents = (state, data) => ({...state, events: data})

        const Details = (tags) =>
            h("ul", {}, Object.entries(tags).map(([k, v]) => h("li", {}, [
                h("strong", {}, text(k + ": ")),
                text(v)
            ])));

        const zoomOut = () =>
            h("div", {
                innerHTML: `
            <svg class="w-6 h-6"
             fill="none"
             stroke="currentColor"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0zM13 10H7"></path>
        </svg>`
            }, [])

        const zoomIn = () =>
            h("div", {
                innerHTML: `
            <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-6 h-6">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607zM10.5 7.5v6m3-3h-6"/>
        </svg>`
            }, [])

        const Placeholder = () =>
            h("div", {
                innerHTML: `&nbsp;`,
                style: {width: '24px'}
            }, [])

        const Row = (event, expandedEventIds, minDuration, level = 0) =>
            h("tbody", {}, [
                h("tr", {class: `cursor-pointer hover:bg-purple-200 bg-${colors[level]}`, onclick: [Expand, event]}, [
                    h("td", {
                        class: "col-icon",
                    }, event.children.length > 0 && expandedEventIds.indexOf(event.id) === -1 ? zoomIn() : expandedEventIds.indexOf(event.id) !== -1 ? zoomOut() : Placeholder()),
                    h("td", {class: `col-name pl-${2 + level * 2}`}, text(event.label)),
                    h("td", {class: "col-duration"}, text(event.value)),
                    h("td", {class: "col-details text-sm"}, Details(event.tags))]
                ),
                h("tr", {}, [
                    h("td", {colspan: 4, class: {hidden: expandedEventIds.indexOf(event.id) === -1}},
                        event.children
                            .filter(event => event.value >= minDuration)
                            .map(event => Row(event, expandedEventIds, minDuration, level + 1))
                    )
                ])
            ]);

        const Expand = (state, event) => {
            if (event.children.length > 0 && state.expandedEventIds.indexOf(event.id) === -1) {
                return {...state, expandedEventIds: [event.id, ...state.expandedEventIds]};
            } else {
                return {...state, expandedEventIds: state.expandedEventIds.filter(it => it !== event.id)};
            }
        };

        const OnDurationChange = (state, target) => {
            return {...state, duration: target.value}
        }

        app({
            init: [{events: data, expandedEventIds: [], duration: 0}, []],
            view: (state) => h("div", {}, [
                h("div", {class: "p-4 w-full bg-gray-100 text-gray-700"}, [
                    h("h2", {}, text("spring boot startup analyzer")),
                    h("div", {}, [
                        h("input", {type: "text", placeholder: "minimum duration", value: state.duration, oninput: (_, { target }) => [OnDurationChange, target]}, [])
                    ])
                ]),
                h("div", {class: "p-4 w-full bg-gray-400"}, [
                    h("table", {class: "event-table"}, [
                        h("thead", {}, [
                            h("tr", {class: "font-medium"}, [
                                h("td", {class: "col-icon"}, text("")),
                                h("td", {class: "col-name"}, text("Name")),
                                h("td", {class: "col-duration"}, text("Duration (ms)")),
                                h("td", {class: "col-details"}, text("Details"))
                            ])
                        ]),
                        ...state.events
                            .filter(event => event.parentId === 0 && event.value >= state.duration)
                            .map(event => Row(event, state.expandedEventIds, state.duration))
                    ])
                ])]),
            node: document.getElementById("app"),
        })
        //]]>
    </script>

    <style type="text/tailwindcss">
        .col-icon {
            @apply w-auto text-center border px-4 py-2;
        }

        .col-name {
            @apply w-1/5 border pr-4 py-2;
        }

        .col-duration {
            @apply w-1/5 border px-4 py-2 text-right;
        }

        .col-details {
            @apply w-3/5 border px-4 py-2 text-left;
        }

        .event-table {
            @apply rounded w-full table-auto break-all bg-gray-100 text-gray-700;
        }
    </style>
</head>
<body>
<div id="app"></div>
</body>
</html>
